In [2]:
import pandas as pd

data15 = pd.read_csv('./data limpio/data15.csv')
data16 = pd.read_csv('./data limpio/data16.csv')
data17 = pd.read_csv('./data limpio/data_17.csv')
data18 = pd.read_csv('./data limpio/data18.csv')
data19 = pd.read_csv('./data limpio/data19.csv')
data20 = pd.read_csv('./data limpio/data20.csv')
data21 = pd.read_csv('./data limpio/data21.csv')
data22 = pd.read_csv('./data limpio/data22.csv')

In [3]:
data15.columns

Index(['Country', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity'],
      dtype='object')

In [6]:
df = pd.read_csv('./data limpio/data23.csv')

In [7]:
import pandas as pd


# Define los nombres de columnas deseados en orden
nombres_columnas = ['Country', 'Rank', 'Ladder_score', 'Logged_gdp_per_capita', 'Social_support',
                    'Healthy_life_expectancy', 'Freedom_to_make_life_choices', 'Generosity',
                    'Perceptions_of_corruption']

# Lista de DataFrames
dataframes = [data15, data16, data17, data18, data19, data20, data21, data22, df]

# Iterar sobre los DataFrames y renombrar las columnas
for i, dataframe in enumerate(dataframes):
    dataframe.columns = nombres_columnas

    # Opcional: Guardar los DataFrames actualizados en nuevos archivos CSV
    dataframe.to_csv(f'nuevo_dataframe_{i}.csv', index=False)

ValueError: Length mismatch: Expected axis has 8 elements, new values have 9 elements

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country name                  137 non-null    object
 1   Ladder score                  137 non-null    float64
 2   Logged GDP per capita         137 non-null    float64
 3   Social support                137 non-null    float64
 4   Healthy life expectancy       137 non-null    float64
 5   Freedom to make life choices  137 non-null    float64
 6   Perceptions of corruption     137 non-null    float64
 7   Generosity                    137 non-null    float64
dtypes: float64(7), object(1)
memory usage: 8.7+ KB

In [9]:
data15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       158 non-null    object
 1   Rank                          158 non-null    int64
 2   Ladder_score                  158 non-null    float64
 3   Logged_gdp_per_capita         158 non-null    float64
 4   Social_support                158 non-null    float64
 5   Healthy_life_expectancy       158 non-null    float64
 6   Freedom_to_make_life_choices  158 non-null    float64
 7   Generosity                    158 non-null    float64
 8   Perceptions_of_corruption     158 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.2+ KB

In [10]:
data16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       157 non-null    object
 1   Rank                          157 non-null    int64
 2   Ladder_score                  157 non-null    float64
 3   Logged_gdp_per_capita         157 non-null    float64
 4   Social_support                157 non-null    float64
 5   Healthy_life_expectancy       157 non-null    float64
 6   Freedom_to_make_life_choices  157 non-null    float64
 7   Generosity                    157 non-null    float64
 8   Perceptions_of_corruption     157 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.2+ KB

In [11]:
data17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       155 non-null    object
 1   Rank                          155 non-null    int64
 2   Ladder_score                  155 non-null    float64
 3   Logged_gdp_per_capita         155 non-null    float64
 4   Social_support                155 non-null    float64
 5   Healthy_life_expectancy       155 non-null    float64
 6   Freedom_to_make_life_choices  155 non-null    float64
 7   Generosity                    155 non-null    float64
 8   Perceptions_of_corruption     155 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.0+ KB

In [12]:
data18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       156 non-null    object
 1   Rank                          156 non-null    int64
 2   Ladder_score                  156 non-null    float64
 3   Logged_gdp_per_capita         156 non-null    float64
 4   Social_support                156 non-null    float64
 5   Healthy_life_expectancy       156 non-null    float64
 6   Freedom_to_make_life_choices  156 non-null    float64
 7   Generosity                    155 non-null    float64
 8   Perceptions_of_corruption     156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [13]:
data19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       156 non-null    object
 1   Rank                          156 non-null    int64
 2   Ladder_score                  156 non-null    float64
 3   Logged_gdp_per_capita         156 non-null    float64
 4   Social_support                156 non-null    float64
 5   Healthy_life_expectancy       156 non-null    float64
 6   Freedom_to_make_life_choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions_of_corruption     156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [14]:
data20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       153 non-null    object
 1   Rank                          153 non-null    int64
 2   Ladder_score                  153 non-null    float64
 3   Logged_gdp_per_capita         153 non-null    float64
 4   Social_support                153 non-null    float64
 5   Healthy_life_expectancy       153 non-null    float64
 6   Freedom_to_make_life_choices  153 non-null    float64
 7   Generosity                    153 non-null    float64
 8   Perceptions_of_corruption     153 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 10.9+ KB

In [15]:
data21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       149 non-null    object
 1   Rank                          149 non-null    int64
 2   Ladder_score                  149 non-null    float64
 3   Logged_gdp_per_capita         149 non-null    float64
 4   Social_support                149 non-null    float64
 5   Healthy_life_expectancy       149 non-null    float64
 6   Freedom_to_make_life_choices  149 non-null    float64
 7   Generosity                    149 non-null    float64
 8   Perceptions_of_corruption     149 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 10.6+ KB

In [16]:
data22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       146 non-null    object
 1   Rank                          146 non-null    int64
 2   Ladder_score                  146 non-null    float64
 3   Logged_gdp_per_capita         146 non-null    float64
 4   Social_support                146 non-null    float64
 5   Healthy_life_expectancy       146 non-null    float64
 6   Freedom_to_make_life_choices  146 non-null    float64
 7   Generosity                    146 non-null    float64
 8   Perceptions_of_corruption     146 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 10.4+ KB

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country name                  137 non-null    object
 1   Ladder score                  137 non-null    float64
 2   Logged GDP per capita         137 non-null    float64
 3   Social support                137 non-null    float64
 4   Healthy life expectancy       137 non-null    float64
 5   Freedom to make life choices  137 non-null    float64
 6   Perceptions of corruption     137 non-null    float64
 7   Generosity                    137 non-null    float64
dtypes: float64(7), object(1)
memory usage: 8.7+ KB

In [18]:
data15.to_csv("data15_final.csv", index=False)

data16.to_csv("data16_final.csv", index=False)

# Repite el mismo patrón para los demás DataFrames
data17.to_csv("data17_final.csv", index=False)

data18.to_csv("data18_final.csv", index=False)
data19.to_csv("data19_final.csv", index=False)
data20.to_csv("data20_final.csv", index=False)
data21.to_csv("data21_final.csv", index=False)
data22.to_csv("data22_final.csv", index=False)

In [19]:
data20.head()

,Country,Rank,Ladder_score,Logged_gdp_per_capita,Social_support,Healthy_life_expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption
0,Finland,1,7.8087,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445
1,Denmark,2,7.6456,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489
2,Switzerland,3,7.5599,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728
3,Iceland,4,7.5045,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710
4,Norway,5,7.4880,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218

In [20]:
data15.head()

,Country,Rank,Ladder_score,Logged_gdp_per_capita,Social_support,Healthy_life_expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

In [ ]:
# Explained by: Healthy life expectancy:

indices = [95, 96, 97, 98, 99, 100, 101]
columna2 = 'Explained by: Healthy life expectancy'

media2 = df.loc[indices, columna2].mean()

print("La media de los valores es", media)