In [110]:
# EDA

In [111]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

Imagina una escalera: en la parte superior se encuentra la representación de la vida ideal para ti, mientras que en la parte inferior se encuentra la representación de la peor vida posible. ¿En qué escalón de esa escalera te encuentras?

Esta, entre otras preguntas y cálculos, es lo que utiliza las Naciones Unidas para elaborar un informe anual en el que se analizan los niveles de felicidad de 137 países en el mundo. 

La consultora Gallup es la encargada de elaborar las encuestas y de recoger la información. Utilizan la escala de Cantril para 


















, en la que la mejor vida posible para ellos sería un 10 y la peor vida posible un 0. A continuación, se les pide que valoren su propia vida actual en esa escala de 0 a 10. Las clasificaciones proceden de muestras representativas a escala nacional a lo largo de tres años.

Estas puntuaciones de la escala de Cantril se relacionan con los siguientes factores:

PIB per cápita: se utiliza la paridad de poder adquisitivo (PPA) a precios internacionales constantes del dólar de 2017, obtenidos de los Indicadores de Desarrollo Mundial (WDI).

Esperanza de vida saludable: se basa en los datos extraídos del informe mundial de la Organización Mundial de la Salud (OMS).

Apoyo social: se refiere a tener a alguien en quien confiar en momentos difíciles. Se calcula como la media nacional de respuestas binarias (0 o 1) a la pregunta "¿Si tienes problemas, tienes familiares o amigos en quienes puedes confiar y que te ayudarían siempre que lo necesites?"

Libertad de elección en la vida: se refiere a la satisfacción con la libertad de elegir lo que hacer en la vida. Se calcula como la media nacional de respuestas a la pregunta "¿Estás satisfecho o insatisfecho con tu libertad para elegir lo que hacer con tu vida?"

Generosidad: se obtiene como el residuo de la regresión de la media nacional de respuestas a la pregunta "¿Has donado dinero a una organización benéfica en el último mes?" por persona.

Percepción de la corrupción: se calcula como la media nacional de respuestas a dos preguntas sobre la corrupción en el gobierno y en las empresas. La percepción global es simplemente la media de las dos respuestas, que pueden ser 0 o 1.

In [112]:
df = pd.read_csv('WHR2023 (1).csv')

In [113]:
df.head()

,Country name,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,7.804,0.036,7.875,7.733,10.792,0.969,71.150,0.961,-0.019,0.182,1.778,1.888,1.585,0.535,0.772,0.126,0.535,2.363
1,Denmark,7.586,0.041,7.667,7.506,10.962,0.954,71.250,0.934,0.134,0.196,1.778,1.949,1.548,0.537,0.734,0.208,0.525,2.084
2,Iceland,7.530,0.049,7.625,7.434,10.896,0.983,72.050,0.936,0.211,0.668,1.778,1.926,1.620,0.559,0.738,0.250,0.187,2.250
3,Israel,7.473,0.032,7.535,7.411,10.639,0.943,72.697,0.809,-0.023,0.708,1.778,1.833,1.521,0.577,0.569,0.124,0.158,2.691
4,Netherlands,7.403,0.029,7.460,7.346,10.942,0.930,71.550,0.887,0.213,0.379,1.778,1.942,1.488,0.545,0.672,0.251,0.394,2.110

In [114]:
df.columns

Index(['Country name', 'Ladder score', 'Standard error of ladder score',
       'upperwhisker', 'lowerwhisker', 'Logged GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 19 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country name                                137 non-null    object
 1   Ladder score                                137 non-null    float64
 2   Standard error of ladder score              137 non-null    float64
 3   upperwhisker                                137 non-null    float64
 4   lowerwhisker                                137 non-null    float64
 5   Logged GDP per capita                       137 non-null    float64
 6   Social support                              137 non-null    float64
 7   Healthy life expectancy                     136 non-null    float64
 8   Freedom to make life choices                137 non-null    float64
 9   Generosity                                  137 non-null    float64
 10  Perceptions of corruption                   137 non-null    float64
 11  Ladder score in Dystopia                    137 non-null    float64
 12  Explained by: Log GDP per capita            137 non-null    float64
 13  Explained by: Social support                137 non-null    float64
 14  Explained by: Healthy life expectancy       136 non-null    float64
 15  Explained by: Freedom to make life choices  137 non-null    float64
 16  Explained by: Generosity                    137 non-null    float64
 17  Explained by: Perceptions of corruption     137 non-null    float64
 18  Dystopia + residual                         136 non-null    float64
dtypes: float64(18), object(1)
memory usage: 20.5+ KB

In [116]:
# Quiero encontrar la filas con valores nulos en la columna 'Healthy life expectancy'

hlf_nulo = 'Healthy life expectancy'
filas_nulas = df[df[hlf_nulo].isnull()]
indices_nulos = filas_nulas.index
print(indices_nulos)

Index([98], dtype='int64')

In [117]:
df.loc[98]

Country name                                  State of Palestine
Ladder score                                               4.908
Standard error of ladder score                             0.092
upperwhisker                                               5.089
lowerwhisker                                               4.727
Logged GDP per capita                                      8.716
Social support                                             0.859
Healthy life expectancy                                      NaN
Freedom to make life choices                               0.694
Generosity                                                -0.132
Perceptions of corruption                                  0.836
Ladder score in Dystopia                                   1.778
Explained by: Log GDP per capita                           1.144
Explained by: Social support                               1.309
Explained by: Healthy life expectancy                        NaN
Explained by: Freedom to make life choices                 0.416
Explained by: Generosity                                   0.065
Explained by: Perceptions of corruption                    0.067
Dystopia + residual                                          NaN
Name: 98, dtype: object

In [118]:
# Vemos que los valores nulos de las columnas 'Healthy life expectancy' y 'Explained by: Healthy life expectancy' corresponden a Palestina
# Procedemos a rellenarlos con la media de los países cercanos a su posición en el ranking
# Para esto, vamos a añadir primero una columna llamada Rank, con la posición que ocupa cada país con respecto al ranking según la felicidad

In [119]:
df.insert(loc=1, column='Rank', value=range(1, len(df) + 1))

In [120]:
# Ahora vamos a observar las puntuaciones de esas dos columnas de los países cercanos a Palestina en el ranking
# Observaremos los 3 que aparecen por encima y los 3 que aparecen por debajo

In [121]:
indices = [95, 96, 97, 98, 99, 100, 101]
columnas_healthy = ['Healthy life expectancy', 'Explained by: Healthy life expectancy']
tabla = df.loc[indices, columnas_healthy]
tabla

     Healthy life expectancy  Explained by: Healthy life expectancy
95                    55.847                                  0.118
96                    51.530                                  0.000
97                    63.415                                  0.324
98                       NaN                                    NaN
99                    63.901                                  0.337
100                   66.600                                  0.411
101                   59.999                                  0.231

In [122]:
# Rellenaremos estos valores con la media de los que le rodean
# Healthy life expectancy:

indices = [95, 96, 97, 98, 99, 100, 101]
columna = 'Healthy life expectancy'

media = df.loc[indices, columna].mean()

media

60.21533333333334

In [123]:
# Explained by: Healthy life expectancy:

indices = [95, 96, 97, 98, 99, 100, 101]
columna2 = 'Explained by: Healthy life expectancy'

media2 = df.loc[indices, columna2].mean()

media2

0.23683333333333334

In [124]:
# Ahora sustituimos estos valores por los valores nulos

fill_values = {'Healthy life expectancy': 60.215, 'Explained by: Healthy life expectancy': 0.236}

df[['Healthy life expectancy', 'Explained by: Healthy life expectancy']] = df[['Healthy life expectancy', 'Explained by: Healthy life expectancy']].fillna(value=fill_values)

In [125]:
indices = [95, 96, 97, 98, 99, 100, 101]
columnas_healthy = ['Healthy life expectancy', 'Explained by: Healthy life expectancy']
tabla = df.loc[indices, columnas_healthy]
tabla

     Healthy life expectancy  Explained by: Healthy life expectancy
95                    55.847                                  0.118
96                    51.530                                  0.000
97                    63.415                                  0.324
98                    60.215                                  0.236
99                    63.901                                  0.337
100                   66.600                                  0.411
101                   59.999                                  0.231

In [126]:
# Ahora ya no hay valores nulos en nuestro df

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 20 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country name                                137 non-null    object
 1   Rank                                        137 non-null    int64
 2   Ladder score                                137 non-null    float64
 3   Standard error of ladder score              137 non-null    float64
 4   upperwhisker                                137 non-null    float64
 5   lowerwhisker                                137 non-null    float64
 6   Logged GDP per capita                       137 non-null    float64
 7   Social support                              137 non-null    float64
 8   Healthy life expectancy                     137 non-null    float64
 9   Freedom to make life choices                137 non-null    float64
 10  Generosity                                  137 non-null    float64
 11  Perceptions of corruption                   137 non-null    float64
 12  Ladder score in Dystopia                    137 non-null    float64
 13  Explained by: Log GDP per capita            137 non-null    float64
 14  Explained by: Social support                137 non-null    float64
 15  Explained by: Healthy life expectancy       137 non-null    float64
 16  Explained by: Freedom to make life choices  137 non-null    float64
 17  Explained by: Generosity                    137 non-null    float64
 18  Explained by: Perceptions of corruption     137 non-null    float64
 19  Dystopia + residual                         136 non-null    float64
dtypes: float64(18), int64(1), object(1)
memory usage: 21.5+ KB

In [127]:
# Comprobamos que no hay duplicados
df.loc[df.duplicated()]

Empty DataFrame
Columns: [Country name, Rank, Ladder score, Standard error of ladder score, upperwhisker, lowerwhisker, Logged GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption, Ladder score in Dystopia, Explained by: Log GDP per capita, Explained by: Social support, Explained by: Healthy life expectancy, Explained by: Freedom to make life choices, Explained by: Generosity, Explained by: Perceptions of corruption, Dystopia + residual]
Index: []

In [128]:
# Remove all columns between column name 'Ladder score in Dystopia' to 'Dystopia + residual' 
df = df.drop(df.loc[:, 'Ladder score in Dystopia':'Dystopia + residual'].columns, axis=1)
# Remove all columns between column name 'Standard error of ladder score' to 'lowerwhisker' 
df = df.drop(df.loc[:, 'Standard error of ladder score':'lowerwhisker'].columns, axis=1)

In [129]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country name                  137 non-null    object
 1   Rank                          137 non-null    int64
 2   Ladder score                  137 non-null    float64
 3   Logged GDP per capita         137 non-null    float64
 4   Social support                137 non-null    float64
 5   Healthy life expectancy       137 non-null    float64
 6   Freedom to make life choices  137 non-null    float64
 7   Generosity                    137 non-null    float64
 8   Perceptions of corruption     137 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 9.8+ KB

In [130]:
# Ahora vamos a renombrar las columnas para no inducir a errores tipográficos
df = df.rename(columns={'Country name': 'Country'})

In [131]:
df = df.rename(columns={'Ladder score': 'Ladder_score',
                        'Logged GDP per capita': 'Logged_gdp_per_capita',
                        'Social support': 'Social_support',
                        'Healthy life expectancy': 'Healthy_life_expectancy',
                        'Freedom to make life choices': 'Freedom_to_make_life_choices',
                        'Perceptions of corruption': 'Perceptions_of_corruption'})

In [138]:
df.columns

Index(['Country', 'Rank', 'Ladder_score', 'Logged_gdp_per_capita',
       'Social_support', 'Healthy_life_expectancy',
       'Freedom_to_make_life_choices', 'Generosity',
       'Perceptions_of_corruption'],
      dtype='object')

LIMPIEZA HECHA, AHORA VAMOS A HACER OBSERVACIONES

In [133]:
import pandas as pd
import matplotlib.pyplot as plt

In [134]:
%pip install pycountry pycountry_convert geonamescache

Requirement already satisfied: pycountry in /Users/joseluisreguera/opt/anaconda3/envs/ironhack/lib/python3.9/site-packages (22.3.5)
Requirement already satisfied: pycountry_convert in /Users/joseluisreguera/opt/anaconda3/envs/ironhack/lib/python3.9/site-packages (0.7.2)
Requirement already satisfied: geonamescache in /Users/joseluisreguera/opt/anaconda3/envs/ironhack/lib/python3.9/site-packages (1.6.0)
Requirement already satisfied: setuptools in /Users/joseluisreguera/opt/anaconda3/envs/ironhack/lib/python3.9/site-packages (from pycountry) (66.0.0)
Requirement already satisfied: wheel>=0.30.0 in /Users/joseluisreguera/opt/anaconda3/envs/ironhack/lib/python3.9/site-packages (from pycountry_convert) (0.38.4)
Requirement already satisfied: pytest-mock>=1.6.3 in /Users/joseluisreguera/opt/anaconda3/envs/ironhack/lib/python3.9/site-packages (from pycountry_convert) (3.10.0)
Requirement already satisfied: pprintpp>=0.3.0 in /Users/joseluisreguera/opt/anaconda3/envs/ironhack/lib/python3.9/site-packages (from pycountry_convert) (0.4.0)
Requirement already satisfied: repoze.lru>=0.7 in /Users/joseluisreguera/opt/anaconda3/envs/ironhack/lib/python3.9/site-packages (from pycountry_convert) (0.7)
Requirement already satisfied: pytest>=3.4.0 in /Users/joseluisreguera/opt/anaconda3/envs/ironhack/lib/python3.9/site-packages (from pycountry_convert) (7.3.1)
Requirement already satisfied: pytest-cov>=2.5.1 in /Users/joseluisreguera/opt/anaconda3/envs/ironhack/lib/python3.9/site-packages (from pycountry_convert) (4.1.0)
Requirement already satisfied: pluggy<2.0,>=0.12 in /Users/joseluisreguera/opt/anaconda3/envs/ironhack/lib/python3.9/site-packages (from pytest>=3.4.0->pycountry_convert) (1.0.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc8 in /Users/joseluisreguera/opt/anaconda3/envs/ironhack/lib/python3.9/site-packages (from pytest>=3.4.0->pycountry_convert) (1.1.1)
Requirement already satisfied: iniconfig in /Users/joseluisreguera/opt/anaconda3/envs/ironhack/lib/python3.9/site-packages (from pytest>=3.4.0->pycountry_convert) (2.0.0)
Requirement already satisfied: tomli>=1.0.0 in /Users/joseluisreguera/opt/anaconda3/envs/ironhack/lib/python3.9/site-packages (from pytest>=3.4.0->pycountry_convert) (2.0.1)
Requirement already satisfied: packaging in /Users/joseluisreguera/opt/anaconda3/envs/ironhack/lib/python3.9/site-packages (from pytest>=3.4.0->pycountry_convert) (23.0)
Requirement already satisfied: coverage[toml]>=5.2.1 in /Users/joseluisreguera/opt/anaconda3/envs/ironhack/lib/python3.9/site-packages (from pytest-cov>=2.5.1->pycountry_convert) (7.2.7)
Note: you may need to restart the kernel to use updated packages.

In [145]:
import pycountry

# Obtener todos los países
paises = set([pais.name.lower() for pais in pycountry.countries])

# Verificar los nombres de los países en el DataFrame
paises_df = set([nombre_pais.lower() for nombre_pais in df['Country'].values])

# Obtener la lista de países no reconocidos por pycountry
paises_no_reconocidos = paises_df - paises
print(paises_no_reconocidos)

{'hong kong s.a.r. of china', 'congo (brazzaville)', 'laos', 'venezuela', 'russia', 'congo (kinshasa)', 'taiwan province of china', 'state of palestine', 'tanzania', 'kosovo', 'iran', 'turkiye', 'moldova', 'bolivia', 'vietnam', 'ivory coast', 'south korea'}

In [147]:
import pycountry
from difflib import get_close_matches

# Obtener todos los países reconocidos por pycountry
paises_reconocidos = {pais.name.lower(): pais.alpha_2 for pais in pycountry.countries}

# Crear un diccionario para mapear los códigos de país con los continentes
continentes = {}
for pais in pycountry.countries:
    if hasattr(pais, 'continent'):
        continentes[pais.alpha_2] = pais.continent.name

# Obtener los nombres de los países únicos en el DataFrame
nombres_paises_df = set(df['Country'].str.lower())

# Coincidencia aproximada de nombres de países con pycountry
paises_coincidentes = {}
for nombre_pais_df in nombres_paises_df:
    pais_coincidente = get_close_matches(nombre_pais_df, paises_reconocidos.keys(), n=1)
    if pais_coincidente:
        paises_coincidentes[nombre_pais_df] = paises_reconocidos[pais_coincidente[0]]

# Obtener la lista de continentes para los países coincidentes
continentes_paises = [continentes.get(paises_coincidentes.get(nombre_pais.lower())) for nombre_pais in df['Country'].values]

# Imprimir la lista de países con sus continentes correspondientes
print("Países y continentes:")
for pais, continente in zip(df['Country'].values, continentes_paises):
    print(pais, "-", continente)

Países y continentes:
Finland - None
Denmark - None
Iceland - None
Israel - None
Netherlands - None
Sweden - None
Norway - None
Switzerland - None
Luxembourg - None
New Zealand - None
Austria - None
Australia - None
Canada - None
Ireland - None
United States - None
Germany - None
Belgium - None
Czechia - None
United Kingdom - None
Lithuania - None
France - None
Slovenia - None
Costa Rica - None
Romania - None
Singapore - None
United Arab Emirates - None
Taiwan Province of China - None
Uruguay - None
Slovakia - None
Saudi Arabia - None
Estonia - None
Spain - None
Italy - None
Kosovo - None
Chile - None
Mexico - None
Malta - None
Panama - None
Poland - None
Nicaragua - None
Latvia - None
Bahrain - None
Guatemala - None
Kazakhstan - None
Serbia - None
Cyprus - None
Japan - None
Croatia - None
Brazil - None
El Salvador - None
Hungary - None
Argentina - None
Honduras - None
Uzbekistan - None
Malaysia - None
Portugal - None
South Korea - None
Greece - None
Mauritius - None
Thailand - None
Mongolia - None
Kyrgyzstan - None
Moldova - None
China - None
Vietnam - None
Paraguay - None
Montenegro - None
Jamaica - None
Bolivia - None
Russia - None
Bosnia and Herzegovina - None
Colombia - None
Dominican Republic - None
Ecuador - None
Peru - None
Philippines - None
Bulgaria - None
Nepal - None
Armenia - None
Tajikistan - None
Algeria - None
Hong Kong S.A.R. of China - None
Albania - None
Indonesia - None
South Africa - None
Congo (Brazzaville) - None
North Macedonia - None
Venezuela - None
Laos - None
Georgia - None
Guinea - None
Ukraine - None
Ivory Coast - None
Gabon - None
Nigeria - None
Cameroon - None
Mozambique - None
Iraq - None
State of Palestine - None
Morocco - None
Iran - None
Senegal - None
Mauritania - None
Burkina Faso - None
Namibia - None
Turkiye - None
Ghana - None
Pakistan - None
Niger - None
Tunisia - None
Kenya - None
Sri Lanka - None
Uganda - None
Chad - None
Cambodia - None
Benin - None
Myanmar - None
Bangladesh - None
Gambia - None
Mali - None
Egypt - None
Togo - None
Jordan - None
Ethiopia - None
Liberia - None
India - None
Madagascar - None
Zambia - None
Tanzania - None
Comoros - None
Malawi - None
Botswana - None
Congo (Kinshasa) - None
Zimbabwe - None
Sierra Leone - None
Lebanon - None
Afghanistan - None

In [148]:
df['Country']

0               Finland
1               Denmark
2               Iceland
3                Israel
4           Netherlands
             ...
132    Congo (Kinshasa)
133            Zimbabwe
134        Sierra Leone
135             Lebanon
136         Afghanistan
Name: Country, Length: 137, dtype: object

In [159]:
# Calculamos las medias de las columnas
media_ladder_score = df['Ladder_score'].mean()
media_logged_gdp_per_capita = df['Logged_gdp_per_capita'].mean()
media_social_support = df['Social_support'].mean()
media_healthy_life_expectancy = df['Healthy_life_expectancy'].mean()
media_freedom = df['Freedom_to_make_life_choices'].mean()
media_generosity = df['Generosity'].mean()
media_corruption = df['Perceptions_of_corruption'].mean()

print("Media Ladder Score:", media_ladder_score)
print("Media Logged GDP per capita:", media_logged_gdp_per_capita)
print("Media Social Support:", media_social_support)
print("Media Healthy Life Expectancy:", media_healthy_life_expectancy)
print("Media Freedom to Make Life Choices:", media_freedom)
print("Media Generosity:", media_generosity)
print("Media Perceptions of Corruption:", media_corruption)

Media Ladder Score: 5.539795620437956
Media Logged GDP per capita: 9.449795620437955
Media Social Support: 0.79907299270073
Media Healthy Life Expectancy: 64.93294160583942
Media Freedom to Make Life Choices: 0.7873941605839415
Media Generosity: 0.022430656934306573
Media Perceptions of Corruption: 0.7254014598540146

In [160]:
autoritarios = ['Afganistán', 'Argelia', 'Arabia Saudita', 'Angola', 'Bielorrusia', 'Burundi', 'Camboya', 'Camerún', 'Chad', 'China', 'Congo', 'Corea del Norte', 'Cuba', 'Egipto', 'Gabón', 'Guinea', 'Guinea-Bisseau', 'Guinea Ecuatorial', 'Irak', 'Irán', 'Jordania', 'Kazajistán', 'Kuwait', 'Laos', 'Libia', 'Mauritania', 'Mali', 'Mozambique', 'Myanmar', 'Nicaragua', 'Níger', 'Omán', 'Tayikistán', 'Togo', 'Turkmenistán', 'República Centroafricana', 'Ruanda', 'Rusia', 'Siria', 'Uzbekistán', 'Yemen', 'Venezuela', 'Vietnam', 'Zimbabue']

In [163]:
import pandas as pd

# Filtrar el DataFrame original por los países en la lista "autoritarios"
df_autoritarios = df[df['Country'].isin(autoritarios)]

# Calcular la media de la columna "Ladder_score" en el DataFrame filtrado
media_ladder_score_autoritarios = df_autoritarios['Ladder_score'].mean()

print("Media de Ladder_score para los países autoritarios:", media_ladder_score_autoritarios)

Media de Ladder_score para los países autoritarios: 5.001333333333334

In [164]:
import pandas as pd

# Filtrar el DataFrame original excluyendo los países en la lista "autoritarios"
df_no_autoritarios = df[~df['Country'].isin(autoritarios)]

# Calcular la media de la columna "Ladder_score" en el DataFrame filtrado
media_ladder_score_no_autoritarios = df_no_autoritarios['Ladder_score'].mean()

print("Media de Ladder_score para los países no autoritarios:", media_ladder_score_no_autoritarios)

Media de Ladder_score para los países no autoritarios: 5.591488000000001