In [2]:
import pandas as pd

In [3]:
df_15 = pd.read_csv("data15_final.csv")

In [4]:
df_15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       158 non-null    object
 1   Rank                          158 non-null    int64
 2   Ladder_score                  158 non-null    float64
 3   Logged_gdp_per_capita         158 non-null    float64
 4   Social_support                158 non-null    float64
 5   Healthy_life_expectancy       158 non-null    float64
 6   Freedom_to_make_life_choices  158 non-null    float64
 7   Generosity                    158 non-null    float64
 8   Perceptions_of_corruption     158 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.2+ KB

In [5]:
df16 = pd.read_csv("data16_final.csv")

In [6]:
df16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       157 non-null    object
 1   Rank                          157 non-null    int64
 2   Ladder_score                  157 non-null    float64
 3   Logged_gdp_per_capita         157 non-null    float64
 4   Social_support                157 non-null    float64
 5   Healthy_life_expectancy       157 non-null    float64
 6   Freedom_to_make_life_choices  157 non-null    float64
 7   Generosity                    157 non-null    float64
 8   Perceptions_of_corruption     157 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.2+ KB

In [7]:
df17 = pd.read_csv("data17_final.csv")

In [8]:
df17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       155 non-null    object
 1   Rank                          155 non-null    int64
 2   Ladder_score                  155 non-null    float64
 3   Logged_gdp_per_capita         155 non-null    float64
 4   Social_support                155 non-null    float64
 5   Healthy_life_expectancy       155 non-null    float64
 6   Freedom_to_make_life_choices  155 non-null    float64
 7   Generosity                    155 non-null    float64
 8   Perceptions_of_corruption     155 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.0+ KB

In [10]:
df18 = pd.read_csv("data18_final.csv")
df18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       156 non-null    object
 1   Rank                          156 non-null    int64
 2   Ladder_score                  156 non-null    float64
 3   Logged_gdp_per_capita         156 non-null    float64
 4   Social_support                156 non-null    float64
 5   Healthy_life_expectancy       156 non-null    float64
 6   Freedom_to_make_life_choices  156 non-null    float64
 7   Generosity                    155 non-null    float64
 8   Perceptions_of_corruption     156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [11]:
df19 = pd.read_csv("data19_final.csv")
df19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       156 non-null    object
 1   Rank                          156 non-null    int64
 2   Ladder_score                  156 non-null    float64
 3   Logged_gdp_per_capita         156 non-null    float64
 4   Social_support                156 non-null    float64
 5   Healthy_life_expectancy       156 non-null    float64
 6   Freedom_to_make_life_choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions_of_corruption     156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [12]:
df20 = pd.read_csv("data20_final.csv")
df20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       153 non-null    object
 1   Rank                          153 non-null    int64
 2   Ladder_score                  153 non-null    float64
 3   Logged_gdp_per_capita         153 non-null    float64
 4   Social_support                153 non-null    float64
 5   Healthy_life_expectancy       153 non-null    float64
 6   Freedom_to_make_life_choices  153 non-null    float64
 7   Generosity                    153 non-null    float64
 8   Perceptions_of_corruption     153 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 10.9+ KB

In [13]:
df21 = pd.read_csv("data21_final.csv")
df21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       149 non-null    object
 1   Rank                          149 non-null    int64
 2   Ladder_score                  149 non-null    float64
 3   Logged_gdp_per_capita         149 non-null    float64
 4   Social_support                149 non-null    float64
 5   Healthy_life_expectancy       149 non-null    float64
 6   Freedom_to_make_life_choices  149 non-null    float64
 7   Generosity                    149 non-null    float64
 8   Perceptions_of_corruption     149 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 10.6+ KB

In [14]:
df22 = pd.read_csv("data22_final.csv")
df22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       146 non-null    object
 1   Rank                          146 non-null    int64
 2   Ladder_score                  146 non-null    float64
 3   Logged_gdp_per_capita         146 non-null    float64
 4   Social_support                146 non-null    float64
 5   Healthy_life_expectancy       146 non-null    float64
 6   Freedom_to_make_life_choices  146 non-null    float64
 7   Generosity                    146 non-null    float64
 8   Perceptions_of_corruption     146 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 10.4+ KB

In [15]:
df23 = pd.read_csv("data23_final.csv")
df23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       137 non-null    object
 1   Continent                     137 non-null    object
 2   Rank                          137 non-null    int64
 3   Ladder_score                  137 non-null    float64
 4   Logged_gdp_per_capita         137 non-null    float64
 5   Social_support                137 non-null    float64
 6   Healthy_life_expectancy       137 non-null    float64
 7   Freedom_to_make_life_choices  137 non-null    float64
 8   Generosity                    137 non-null    float64
 9   Perceptions_of_corruption     137 non-null    float64
dtypes: float64(7), int64(1), object(2)
memory usage: 10.8+ KB

In [16]:
country_values = df23['Country'].tolist()
country_values

['Finland',
 'Denmark',
 'Iceland',
 'Israel',
 'Netherlands',
 'Sweden',
 'Norway',
 'Switzerland',
 'Luxembourg',
 'New Zealand',
 'Austria',
 'Australia',
 'Canada',
 'Ireland',
 'United States',
 'Germany',
 'Belgium',
 'Czechia',
 'United Kingdom',
 'Lithuania',
 'France',
 'Slovenia',
 'Costa Rica',
 'Romania',
 'Singapore',
 'United Arab Emirates',
 'Taiwan',
 'Uruguay',
 'Slovakia',
 'Saudi Arabia',
 'Estonia',
 'Spain',
 'Italy',
 'Republic of Republic of Kosovo',
 'Chile',
 'Mexico',
 'Malta',
 'Panama',
 'Poland',
 'Nicaragua',
 'Latvia',
 'Bahrain',
 'Guatemala',
 'Kazakhstan',
 'Serbia',
 'Cyprus',
 'Japan',
 'Croatia',
 'Brazil',
 'El Salvador',
 'Hungary',
 'Argentina',
 'Honduras',
 'Uzbekistan',
 'Malaysia',
 'Portugal',
 'South Korea',
 'Greece',
 'Mauritius',
 'Thailand',
 'Mongolia',
 'Kyrgyzstan',
 'Moldova',
 'China',
 'Vietnam',
 'Paraguay',
 'Montenegro',
 'Jamaica',
 'Bolivia',
 'Russia',
 'Bosnia',
 'Colombia',
 'Dominican Republic',
 'Ecuador',
 'Peru',
 'Philippines',
 'Bulgaria',
 'Nepal',
 'Armenia',
 'Tajikistan',
 'Algeria',
 'Hong Kong',
 'Albania',
 'Indonesia',
 'South Africa',
 'Congo',
 'North Macedonia',
 'Venezuela',
 'Laos',
 'Georgia',
 'Guinea',
 'Ukraine',
 'Ivory Coast',
 'Gabon',
 'Nigeria',
 'Cameroon',
 'Mozambique',
 'Iraq',
 'Palestine',
 'Morocco',
 'Iran',
 'Senegal',
 'Mauritania',
 'Burkina Faso',
 'Namibia',
 'Turkey',
 'Ghana',
 'Pakistan',
 'Niger',
 'Tunisia',
 'Kenya',
 'Sri Lanka',
 'Uganda',
 'Chad',
 'Cambodia',
 'Benin',
 'Myanmar',
 'Bangladesh',
 'Gambia',
 'Mali',
 'Egypt',
 'Togo',
 'Jordan',
 'Ethiopia',
 'Liberia',
 'India',
 'Madagascar',
 'Zambia',
 'Tanzania',
 'Comoros',
 'Malawi',
 'Botswana',
 'Congo',
 'Zimbabwe',
 'Sierra Leone',
 'Lebanon',
 'Afghanistan']

In [20]:
df_cleaned15 = df_15[df_15['Country'].isin(country_values)]

In [21]:
df_cleaned15.info()

<class 'pandas.core.frame.DataFrame'>
Index: 128 entries, 0 to 157
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       128 non-null    object
 1   Rank                          128 non-null    int64
 2   Ladder_score                  128 non-null    float64
 3   Logged_gdp_per_capita         128 non-null    float64
 4   Social_support                128 non-null    float64
 5   Healthy_life_expectancy       128 non-null    float64
 6   Freedom_to_make_life_choices  128 non-null    float64
 7   Generosity                    128 non-null    float64
 8   Perceptions_of_corruption     128 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 10.0+ KB

In [24]:
df_cleaned16 = df16[df16['Country'].isin(country_values)]
df_cleaned16.info()

<class 'pandas.core.frame.DataFrame'>
Index: 128 entries, 0 to 154
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       128 non-null    object
 1   Rank                          128 non-null    int64
 2   Ladder_score                  128 non-null    float64
 3   Logged_gdp_per_capita         128 non-null    float64
 4   Social_support                128 non-null    float64
 5   Healthy_life_expectancy       128 non-null    float64
 6   Freedom_to_make_life_choices  128 non-null    float64
 7   Generosity                    128 non-null    float64
 8   Perceptions_of_corruption     128 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 10.0+ KB

In [25]:
df_cleaned17 = df17[df17['Country'].isin(country_values)]
df_cleaned18 = df18[df18['Country'].isin(country_values)]
df_cleaned19 = df19[df19['Country'].isin(country_values)]
df_cleaned20 = df20[df20['Country'].isin(country_values)]
df_cleaned21 = df21[df21['Country'].isin(country_values)]
df_cleaned22 = df22[df22['Country'].isin(country_values)]
df_cleaned23 = df23[df23['Country'].isin(country_values)]

In [26]:
df_cleaned17.info()

<class 'pandas.core.frame.DataFrame'>
Index: 125 entries, 0 to 152
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       125 non-null    object
 1   Rank                          125 non-null    int64
 2   Ladder_score                  125 non-null    float64
 3   Logged_gdp_per_capita         125 non-null    float64
 4   Social_support                125 non-null    float64
 5   Healthy_life_expectancy       125 non-null    float64
 6   Freedom_to_make_life_choices  125 non-null    float64
 7   Generosity                    125 non-null    float64
 8   Perceptions_of_corruption     125 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 9.8+ KB

In [27]:
df_cleaned18.info()

<class 'pandas.core.frame.DataFrame'>
Index: 128 entries, 0 to 152
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       128 non-null    object
 1   Rank                          128 non-null    int64
 2   Ladder_score                  128 non-null    float64
 3   Logged_gdp_per_capita         128 non-null    float64
 4   Social_support                128 non-null    float64
 5   Healthy_life_expectancy       128 non-null    float64
 6   Freedom_to_make_life_choices  128 non-null    float64
 7   Generosity                    127 non-null    float64
 8   Perceptions_of_corruption     128 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 10.0+ KB

In [28]:
df_cleaned19.info()

<class 'pandas.core.frame.DataFrame'>
Index: 131 entries, 0 to 153
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       131 non-null    object
 1   Rank                          131 non-null    int64
 2   Ladder_score                  131 non-null    float64
 3   Logged_gdp_per_capita         131 non-null    float64
 4   Social_support                131 non-null    float64
 5   Healthy_life_expectancy       131 non-null    float64
 6   Freedom_to_make_life_choices  131 non-null    float64
 7   Generosity                    131 non-null    float64
 8   Perceptions_of_corruption     131 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 10.2+ KB

In [29]:
df_cleaned20.info()

<class 'pandas.core.frame.DataFrame'>
Index: 128 entries, 0 to 152
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       128 non-null    object
 1   Rank                          128 non-null    int64
 2   Ladder_score                  128 non-null    float64
 3   Logged_gdp_per_capita         128 non-null    float64
 4   Social_support                128 non-null    float64
 5   Healthy_life_expectancy       128 non-null    float64
 6   Freedom_to_make_life_choices  128 non-null    float64
 7   Generosity                    128 non-null    float64
 8   Perceptions_of_corruption     128 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 10.0+ KB

In [30]:
df_cleaned21.info()

<class 'pandas.core.frame.DataFrame'>
Index: 129 entries, 0 to 148
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       129 non-null    object
 1   Rank                          129 non-null    int64
 2   Ladder_score                  129 non-null    float64
 3   Logged_gdp_per_capita         129 non-null    float64
 4   Social_support                129 non-null    float64
 5   Healthy_life_expectancy       129 non-null    float64
 6   Freedom_to_make_life_choices  129 non-null    float64
 7   Generosity                    129 non-null    float64
 8   Perceptions_of_corruption     129 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 10.1+ KB

In [31]:
df_cleaned22.info()

<class 'pandas.core.frame.DataFrame'>
Index: 121 entries, 0 to 145
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       121 non-null    object
 1   Rank                          121 non-null    int64
 2   Ladder_score                  121 non-null    float64
 3   Logged_gdp_per_capita         121 non-null    float64
 4   Social_support                121 non-null    float64
 5   Healthy_life_expectancy       121 non-null    float64
 6   Freedom_to_make_life_choices  121 non-null    float64
 7   Generosity                    121 non-null    float64
 8   Perceptions_of_corruption     121 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 9.5+ KB

In [32]:
df_cleaned23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       137 non-null    object
 1   Continent                     137 non-null    object
 2   Rank                          137 non-null    int64
 3   Ladder_score                  137 non-null    float64
 4   Logged_gdp_per_capita         137 non-null    float64
 5   Social_support                137 non-null    float64
 6   Healthy_life_expectancy       137 non-null    float64
 7   Freedom_to_make_life_choices  137 non-null    float64
 8   Generosity                    137 non-null    float64
 9   Perceptions_of_corruption     137 non-null    float64
dtypes: float64(7), int64(1), object(2)
memory usage: 10.8+ KB

In [33]:
import pandas as pd

# Asigna los años a una lista
years = [2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]

# Crea una lista con los DataFrames limpiados
dfs = [df_cleaned15, df_cleaned16, df_cleaned17, df_cleaned18, df_cleaned19, df_cleaned20, df_cleaned21, df_cleaned22, df_cleaned23]

# Agrega la columna "Year" a cada DataFrame
for i, df in enumerate(dfs):
    df['Year'] = pd.Series([years[i]] * len(df))

# Concatena los DataFrames en uno solo
concatenated_df = pd.concat(dfs)

/var/folders/75/q598wy0x5rq2j183ndtczjlm0000gn/T/ipykernel_95433/2365748614.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = pd.Series([years[i]] * len(df))
/var/folders/75/q598wy0x5rq2j183ndtczjlm0000gn/T/ipykernel_95433/2365748614.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = pd.Series([years[i]] * len(df))
/var/folders/75/q598wy0x5rq2j183ndtczjlm0000gn/T/ipykernel_95433/2365748614.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = pd.Series([years[i]] * len(df))
/var/folders/75/q598wy0x5rq2j183ndtczjlm0000gn/T/ipykernel_95433/2365748614.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = pd.Series([years[i]] * len(df))
/var/folders/75/q598wy0x5rq2j183ndtczjlm0000gn/T/ipykernel_95433/2365748614.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = pd.Series([years[i]] * len(df))
/var/folders/75/q598wy0x5rq2j183ndtczjlm0000gn/T/ipykernel_95433/2365748614.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = pd.Series([years[i]] * len(df))
/var/folders/75/q598wy0x5rq2j183ndtczjlm0000gn/T/ipykernel_95433/2365748614.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = pd.Series([years[i]] * len(df))
/var/folders/75/q598wy0x5rq2j183ndtczjlm0000gn/T/ipykernel_95433/2365748614.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = pd.Series([years[i]] * len(df))

In [34]:
concatenated_df

,Country,Rank,Ladder_score,Logged_gdp_per_capita,Social_support,Healthy_life_expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,Year,Continent
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015.0,NaN
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015.0,NaN
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015.0,NaN
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015.0,NaN
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
132,Congo,133,3.207,7.00700,0.65200,55.37500,0.66400,0.08600,0.83400,2023.0,Africa
133,Zimbabwe,134,3.204,7.64100,0.69000,54.05000,0.65400,-0.04600,0.76600,2023.0,Africa
134,Sierra Leone,135,3.138,7.39400,0.55500,54.90000,0.66000,0.10500,0.85800,2023.0,Africa
135,Lebanon,136,2.392,9.47800,0.53000,66.14900,0.47400,-0.14100,0.89100,2023.0,Asia
136,Afghanistan,137,1.859,7.32400,0.34100,54.71200,0.38200,-0.08100,0.84700,2023.0,Asia

In [35]:
# Verificar si hay valores nulos
nulos_por_columna = concatenated_df.isnull().sum()

# Comprobar si hay columnas con valores nulos
if nulos_por_columna.sum() > 0:
    print("Hay valores nulos en el DataFrame:")
    print(nulos_por_columna)
else:
    print("No hay valores nulos en el DataFrame.")

Hay valores nulos en el DataFrame:
Country                            0
Rank                               0
Ladder_score                       0
Logged_gdp_per_capita              0
Social_support                     0
Healthy_life_expectancy            0
Freedom_to_make_life_choices       0
Generosity                         1
Perceptions_of_corruption          0
Year                             142
Continent                       1018
dtype: int64

In [37]:
concatenated_df = concatenated_df.drop("Continent", axis=1)

In [39]:
import numpy as np

# Obtener una matriz booleana indicando los valores nulos en la columna "Year"
null_values = concatenated_df["Year"].isnull()

# Obtener los índices donde se encuentran los valores nulos
indices_null = np.where(null_values)[0]
indices_null

array([ 105,  106,  107,  108,  109,  110,  111,  112,  113,  114,  115,
        116,  117,  118,  119,  120,  121,  122,  123,  124,  125,  126,
        127,  235,  236,  237,  238,  239,  240,  241,  242,  243,  244,
        245,  246,  247,  248,  249,  250,  251,  252,  253,  254,  255,
        362,  363,  364,  365,  366,  367,  368,  369,  370,  371,  372,
        373,  374,  375,  376,  377,  378,  379,  380,  492,  493,  494,
        495,  496,  497,  498,  499,  500,  501,  502,  503,  504,  505,
        506,  507,  508,  624,  625,  626,  627,  628,  629,  630,  631,
        632,  633,  634,  635,  636,  637,  638,  639,  752,  753,  754,
        755,  756,  757,  758,  759,  760,  761,  762,  763,  764,  765,
        766,  767,  883,  884,  885,  886,  887,  888,  889,  890,  891,
        892,  893,  894,  895,  896, 1002, 1003, 1004, 1005, 1006, 1007,
       1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017])

In [40]:
# Sustituir los valores nulos en las filas indicadas por el número correspondiente
concatenated_df.loc[[105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126], "Year"] = 2015
concatenated_df.loc[[127, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255], "Year"] = 2016
concatenated_df.loc[[362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 492, 493, 494, 495, 496, 497, 498, 499], "Year"] = 2017
concatenated_df.loc[[500, 501, 502, 503, 504, 505, 506, 507, 508, 624, 625, 626, 627, 628, 629, 630], "Year"] = 2018
concatenated_df.loc[[631, 632, 633, 634, 635, 636, 637, 638, 639, 752, 753, 754, 755, 756, 757, 758, 759, 760], "Year"] = 2019
concatenated_df.loc[[761, 762, 763, 764, 765, 766, 767, 883, 884, 885, 886, 887, 888, 889, 890], "Year"] = 2020
concatenated_df.loc[[891, 892, 893, 894, 895, 896, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017], "Year"] = 2021

KeyError: '[235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255] not in index'

In [41]:
concatenated_df.to_csv('concatenated_data.csv', index=False)